*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 0 133px;
}

/* Текстовый шрифт написан в селекторе .page */

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-right: none;
  width: 225px;
  background-color: transparent;
  border-left: none;
  outline: 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
  margin-right: 5px;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  /* 70.5px */
  text-transform: uppercase;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 30px */
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__list {
  height: 298px;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__details {
  width: 711px;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: fill;
  width: 100%;
  height: 386px;
}

.content__video-card {
  display: flex;
  justify-content: start;
}

.content__video-card-thumbnail {
  width: 194px;
}

.content__video-card-description-container {
  width: 100%;
}

.button {
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  height: 34px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.more-button {
  min-width: 100%;
}

.search-form__label:has(.search-form__textfield):hover {
  text-decoration: none;
  cursor: text;
  outline: none;
}

/* Не понял почему бордер топ тут лишний, в макете он есть
и сверху и снизу */

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2px;
}

.search-form__label > .search-form__pseudo-checkbox:hover {
  text-decoration-line: underline;
  color: #fff;
}

.search-form__label:focus {
  outline: none;
  border: none;
}

.search-form__textfield:focus {
  outline: none;
  border: none;
}

.search-form__textfield:active {
  border: none;
}

.search-form__pseudo-checkbox:active::after {
  width: 15px;
  height: 15px;
  background: #fff;
  content: "";
  position: absolute;
}

input[type="checkbox"]:checked + span {
  width: 19px;
  height: 19px; 
  background: #fff;
}

.search-form__pseudo-checkbox:active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__label:hover{
  text-decoration: underline;
}

.search-form__label:focus {
  border: none;
  outline: none;
}

.search-form__label:focus-visible {
  padding: 1px 0.5px;
  outline: 1px solid #fff;
}

.search-form__submit-button:active {
  background: #545050;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  border: 1px solid #fff double;
}

.more-button:active {
  background: #545050;
}

.more-button:hover {
  text-decoration: underline;
}

.more-button:focus {
  border: none;
  outline: none;
}

.more-button:focus-visible {
  border: double;
}

.content__video-card:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  border: none;
  outline: none;
}

 /* Вот состояние фокуса для блока карточек */

.content__card-link:focus-visible {
  margin: 2px;
  outline: 1px solid #fff;
}